{% load staticfiles %}
<li class="xn-title">Store Navigation</li> 
<li class="treeview active">
    <a href="#" id="menu-front-desk">Store Desk</a>
    <ul class="treeview-menu">
        <li>
            <a href="{% url 'store_profile' %}"><span class="fa fa-refresh fa-spin"></span> <span class="xn-text">Stock Inflow</span></a>
        </li>
        
        <li>
            <a href="{% url 'stock_outflow' %}">
                <span class="fa fa-share-alt">  </span>
             <span class="xn-text">Stock Outflow</span></a>
        </li>

        <!--
        <li>
            <a href="">
                <span class="fa fa-clock-o">  </span>
             <span class="xn-text">Edit Stock Outflow</span></a>
        </li>
        -->

        <li>
            <a href="{% url 'stock_levels' %}"><span class="fa fa-building"></span> <span class="xn-text">Levels of Stock</span></a>
        </li>
        
    </ul>
</li>

<!--
<li class="treeview active">
    <a href="#" id="menu-front-desk">Bills</a>
    <ul class="treeview-menu">
        <li>
            <a href="{% url 'hotel_bill_list' id=0 %}"><span class="fa fa-cutlery"></span> <span class="xn-text">Restaurant</span></a>
        </li>
        <li>
                <a href="{% url 'hotel_bill_list' id=1 %}"><span class="fa fa-beer"></span> <span class="xn-text">Main Bar</span></a>
        </li>
        <li>
            <a href="{% url 'hotel_bill_list' id=2 %}"><span class="fa fa-glass"></span> <span class="xn-text">Pool Bar</span></a>
        </li>
        <li>
            <a href="{% url 'hotel_bill_list' id=3 %}"><span class="fa fa-clone"></span> <span class="xn-text">Laundry</span></a>
        </li>
        <li>
            <a href="{% url 'hotel_bill_list' id=4 %}"><span class="fa fa-heartbeat"></span> <span class="xn-text">Gym</span></a>
        </li>
    </ul>
</li>
<li class="treeview active">
    <a href="#" id="menu-front-desk">Inventory</a>
    <ul class="treeview-menu">
        <li>
            <a href="{% url 'hotel_inventory_list' id=3 %}"><span class="fa fa-users"></span> <span class="xn-text">Store</span></a>
        </li>
        <li>
            <a href="{% url 'hotel_inventory_list' id=1 %}"><span class="fa fa-building"></span> <span class="xn-text">Main Bar</span></a>
        </li>
        <li>
            <a href="{% url 'hotel_inventory_list' id=0 %}"><span class="fa fa-hotel"></span> <span class="xn-text">Restaurant</span></a>
        </li>
        <li>
            <a href="{% url 'hotel_inventory_list' id=2 %}"><span class="fa fa-gears"></span> <span class="xn-text">Pool Bar</span></a>
        </li>
    </ul>
</li> 
<li class="treeview active">
        <a href="#" id="menu-front-desk">Reports</a>
        <ul class="treeview-menu">
            <li>
                <a href="{% url 'hotel_guest_list' %}"><span class="fa fa-users"></span> <span class="xn-text">Guests</span></a>
            </li>
            <li>
                <a href="{% url 'hotel_room_list' %}"><span class="fa fa-building"></span> <span class="xn-text">Rooms</span></a>
            </li>
            <li>
                <a href="{% url 'hotel_facility_list' %}"><span class="fa fa-hotel"></span> <span class="xn-text">Facilities</span></a>
            </li>
            <li>
                <a href="{% url 'hotel_housekeeping_list' %}"><span class="fa fa-gears"></span> <span class="xn-text">House Keeping</span></a>
            </li>
        </ul>
    </li>
-->